#form-container {
  margin: auto;
  margin-top: 100px;
  display: flex;
  width: 30%;
  padding: 30px;
  background-color: #dfdfdf;
}

#list-container {
  margin: auto;
  margin-top: 100px;
  display: flex;
  width: 30%;
  padding: 30px;
  background-color: #dfdfdf;
}

#form {
  margin: auto;
}

input {
  margin-bottom: 30px;
  width: 200px;
}

#country-list {
  width: 200px;
  margin-bottom: 40px;
  position: relative;
}

#save-btn {
  background-color: #98b986;
  color: white;
  float: right;
  width: 60px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px #6d6d6d;
}

#save-btn:hover {
  background-color: #73b350;
}

#save-btn:active {
  transform: translateY(3px) translateX(3px);
  box-shadow: 0 0;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 500px;
}

tr {
  border-bottom: solid #bdbdbd 2px;
  background-color: #ffffff;
}

th,
td {
  padding: 10px;
  text-align: center;
}
